.avatar {
	float: left;
}
.stats {
	margin-top: 15px;
	float: right;
}
.output {
	width: 30%;
}
.race, .spec {
	display: inline;
}
.race {
	margin-right: 5px;
}
.avatar {
	width: 50%;
}
.avatar img {
	width: 60%;
}